.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--color-fondo);
}

.login-box {
  width: 100%;
  max-width: 400px;
  padding: 40px;
  background-color: var(--color-blanco);
  border-radius: 8px;
  box-shadow: var(--sombra-suave);
  text-align: center;
}

.login-box h2 {
  color: var(--color-primario);
  margin-top: 0;
  margin-bottom: 10px;
}

.login-box p {
  color: #7f8c8d;
  margin-bottom: 30px;
}

.input-group {
  text-align: left;
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}

.login-button {
  width: 100%;
  padding: 12px;
  background-color: var(--color-primario);
  color: var(--color-blanco);
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #2980b9;
}

.error-message {
  color: #e74c3c;
  margin-top: -10px;
  margin-bottom: 15px;
  font-size: 0.9rem;
}

.login-logo {
  max-width: 120px; /* Define el tamaño del logo */
  margin-bottom: 20px; /* Crea un espacio entre el logo y el título */
}